<div class="container">
  <div class="account-manager">
    <h1>Account Manager</h1>
    <label for="accountManager">Account Manager</label>
    <input type="text" id="accountManager" name="accountManager">
  </div>
</div>

<div class="container">
  <div class="company-info">
    <h1>Company Info</h1>
    <div class="flex-container">
      <div class="input-group">
        <label for="companyName">Company Name</label>
        <input type="text" id="companyName" name="companyName">
      </div>
      <div class="input-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" name="phoneNumber">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="company-address">
    <h3>Company Address</h3>
    <div class="flex-container">
      <div class="input-group">
        <label for="street">Street</label>
        <input type="text" id="street" name="street">
      </div>
      <div class="input-group">
        <label for="city">City</label>
        <input type="text" id="city" name="city">
      </div>
      <div class="input-group">
        <label for="state">State</label>
        <input type="text" id="state" name="state">
      </div>
      <div class="input-group">
        <label for="zip">ZIP</label>
        <input type="text" id="zip" name="zip">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <button type="button" id="nextPageButton">Next Page</button>
</div>
